<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form 2</title>
</head>
<body>
    <form method="post" action="">
        <check if="isset(@errors['color'])">
            <true>{{@errors['color']}}</true>
        </check>
        <label for="color">Color
        <select id="color" name="color">
            <repeat group="{{@colors}}" value="{{@colorOption}}">
                <option value="{{@colorOption}}">{{@colorOption}}</option>
            </repeat>
        </select>
        </label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>